
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
    List<DateTime> thoigian = ViewBag.thoigian;
    List<int> soluong = ViewBag.truycap;
}
<script src="~/Scripts/Chart.min.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Báo cáo</a>*@
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số truy cập</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Sotruycap</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tổng số công thức</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ct</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tổng số blog</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.blog</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Bình luận</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ph</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="myChart" height="150" width="300"></canvas>
    </div>
    <br />
    <div class="row">
        @*<h1 class="h3 mb-2 text-gray-800">
            Xem nhiều nhất tuần qua
        </h1>*@
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Top 5 công thức và blog xem nhiều nhất tuần qua</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="width:100px">Tên món ăn</th>
                                    <th>Thể loại</th>
                                    @*<th>Tiêu đề</th>*@
                                    <th>Ảnh minh họa</th>
                                    <th>Lượt xem</th>
                                    <th>TG nấu</th>
                                    <th>Trạng thái</th>
                                    <th>Top Hot</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th style="width:100px">Tên món ăn</th>
                                    <th>Thể loại</th>
                                    @*<th>Tiêu đề</th>*@
                                    <th>Ảnh minh họa</th>
                                    <th>Lượt xem</th>
                                    <th>TG nấu</th>
                                    <th>Trạng thái</th>
                                    <th>Top Hot</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{ var i = 1;}
                                @foreach (Mix_MTA2.Models.CongThuc it in ViewBag.dsct)
                                {
                                    if (i == 5)
                                    {
                                        break;
                                    }
                                    <tr id="row_@it.ID_congthuc">
                                        <th>@it.ID_congthuc</th>
                                        <th style="width:100px">@it.TenCongThuc</th>
                                        <th>@it.LoaiCongThuc.TenLoaiCT</th>
                                        @*<th style="text-align:left">@it.TieuDe</th>*@
                                        <th><img width="200" height="150" style="border: 3px solid #ffffff;border-radius:7px; box-shadow: 0 0 5px rgba(0, 0, 0, .5)" src="~/Content/User/img/bg-img/@it.AnhMinhHoa" alt="ERROR" /></th>
                                        <th>@it.LuotXem</th>
                                        <th>@it.ThoiGianNau phút</th>
                                        <th>
                                            @if (it.TrangThai == true)
                                            {
                                                <form method="post" action="Status" id="status_@it.ID_congthuc" onsubmit="return false">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" id="tt_@it.ID_congthuc" value="@it.ID_congthuc" />
                                                        <input class="toggle toggle-ios" id="toggle_@it.ID_congthuc" type="checkbox" name="Trangthai" />
                                                        <label id="lb_tt" class="toggle-btn-true" for="toggle_@it.ID_congthuc" onclick="status(@it.ID_congthuc)"></label>
                                                        <button type="submit" style="position:absolute; top:-9999px; left:-9999px;"></button>
                                                    </div>
                                                </form>

                                            }
                                            else
                                            {
                                                <form method="post" action="Status" id="status_@it.ID_congthuc" onsubmit="return false">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" id="tt_@it.ID_congthuc" value="@it.ID_congthuc" />
                                                        <input class="toggle toggle-ios" id="toggle__@it.ID_congthuc" type="checkbox" name="Trangthai" />
                                                        <label id="lb_tt" class="toggle-btn" for="toggle__@it.ID_congthuc" onclick="status(@it.ID_congthuc)"></label>
                                                    </div>
                                                </form>
                                            }

                                        </th>
                                        <th>
                                            @if (it.TopHot == true)
                                            {
                                                <form method="post" action="Tophot" id="tophot_@it.ID_congthuc" onsubmit="return false">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" id="tophot_@it.ID_congthuc" value="@it.ID_congthuc" />
                                                        <input class="toggle toggle-ios" id="toggle_th_@it.ID_congthuc" type="checkbox" name="tophot" />
                                                        <label id="lb_tophot" class="toggle-btn-true" for="toggle_th_@it.ID_congthuc" onclick="tophot(@it.ID_congthuc)"></label>
                                                    </div>
                                                </form>

                                            }
                                            else
                                            {
                                                <form method="post" action="Tophot" id="tophot_@it.ID_congthuc" onsubmit="return false">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" id="tophot_@it.ID_congthuc" value="@it.ID_congthuc" />
                                                        <input class="toggle toggle-ios" id="toggle_th__@it.ID_congthuc" type="checkbox" name="tophot" />
                                                        <label id="lb_tophot" class="toggle-btn" for="toggle_th__@it.ID_congthuc" onclick="tophot(@it.ID_congthuc)"></label>
                                                    </div>
                                                </form>
                                            }
                                        </th>
                                        <th class="center"><a style="color:#fff" href="Recipe_detail/@it.ID_congthuc"><img src="~/Content/Admin/img/detail.png" /></a></th>
                                        <th>
                                            <a data-ajax="true" data-ajax-complete="$('#row_'+@it.ID_congthuc+'').remove()" data-ajax-confirm="Bạn có chắc muốn xóa" data-ajax-method="Delete" href='@Url.Action("Delete_recipe","Recipe",new { id_congthuc = it.ID_congthuc })' style="color:#fff"><img src="~/Content/Admin/img/delete.png" /></a>
                                        </th>
                                        <th class="center"><a style="color:#fff" href="Recipe_edit/@it.ID_congthuc"><img src="~/Content/Admin/img/edit-tool.png" /></a></th>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                            <thead>
                                <tr>
                                    <th style="width:5px">ID</th>
                                    <th>Tên Blog</th>

                                    <th>Ảnh minh họa</th>
                                    <th>Lượt xem</th>
                                    <th>Trạng thái</th>
                                    <th>Top hot</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th style="width:5px">ID</th>
                                    <th>Tên món ăn</th>

                                    <th>Ảnh minh họa</th>
                                    <th>Lượt xem</th>
                                    <th>Trạng thái</th>
                                    <th>Top hot</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{  i = 1;}
                                @foreach (Mix_MTA2.Models.Blog it in ViewBag.dsbg)
                                {
                                    if (i == 5)
                                    {
                                        break;
                                    }
                                    <tr id="row_@it.MaBlog">
                                        <th style="width:5px">@i</th>
                                        <th style="max-width:250px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">@it.TenBlog</th>
                                        <th><img width="200" height="150" style="border: 3px solid #ffffff;border-radius:7px; box-shadow: 0 0 5px rgba(0, 0, 0, .5)" src="~/Content/User/img/blog-img/@it.AnhMinhHoa" alt="ERROR" /></th>
                                        <th>@it.LuotXem</th>
                                        <th>
                                            @if (it.TrangThai == true)
                                            {
                                                <form method="post" action="Status" id="status_@it.MaBlog">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" value="@it.MaBlog" />
                                                        <input class="toggle toggle-ios" id="toggle_@it.MaBlog" type="checkbox" name="Trangthai" />
                                                        <label class="toggle-btn-true" for="toggle_@it.MaBlog" onclick="status(@it.MaBlog)"></label>
                                                    </div>
                                                </form>

                                            }
                                            else
                                            {
                                                <form method="post" action="Status" id="status_@it.MaBlog">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" value="@it.MaBlog" />
                                                        <input class="toggle toggle-ios" id="toggle__@it.MaBlog" type="checkbox" name="Trangthai" />
                                                        <label class="toggle-btn" for="toggle__@it.MaBlog" onclick="status(@it.MaBlog)"></label>
                                                    </div>
                                                </form>
                                            }

                                        </th>
                                        <th>
                                            @if (it.TopHot == true)
                                            {
                                                <form method="post" action="Tophot" id="tophot_@it.MaBlog">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" value="@it.MaBlog" />
                                                        <input class="toggle toggle-ios" id="toggle_@it.MaBlog" type="checkbox" name="tophot" />
                                                        <label class="toggle-btn-true" for="toggle_@it.MaBlog" onclick="tophot(@it.MaBlog)"></label>
                                                    </div>
                                                </form>

                                            }
                                            else
                                            {
                                                <form method="post" action="Tophot" id="tophot_@it.MaBlog">
                                                    <div class="toggle-button-demo">
                                                        <input type="hidden" name="id" value="@it.MaBlog" />
                                                        <input class="toggle toggle-ios" id="toggle__@it.MaBlog" type="checkbox" name="tophot" />
                                                        <label class="toggle-btn" for="toggle__@it.MaBlog" onclick="tophot(@it.MaBlog)"></label>
                                                    </div>
                                                </form>
                                            }
                                        </th>
                                        <th class="center" style="width:25px"><a style="color:#fff" href="Blog_detail/@it.MaBlog"><img src="~/Content/Admin/img/detail.png" /></a></th>
                                        <th class="delete" style="width:25px;">
                                            <a data-ajax="true" data-ajax-complete="$('#row_'+@it.MaBlog+'').remove()" data-ajax-confirm="Bạn có chắc muốn xóa" data-ajax-method="Delete" href='@Url.Action("Delete_blog","Blog",new { id = it.MaBlog})' style="color:#fff;width:30px;height:30px"><img src="~/Content/Admin/img/delete.png" /></a>
                                        <th class="center" style="width:25px;"><a style="color:#fff;" href="Blog_edit/@it.MaBlog"><img src="~/Content/Admin/img/edit-tool.png" /></a></th>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['@thoigian[6].ToString("dd/MM/yyyy")', '@thoigian[5].ToString("dd/MM/yyyy")', '@thoigian[4].ToString("dd/MM/yyyy")', '@thoigian[3].ToString("dd/MM/yyyy")', '@thoigian[2].ToString("dd/MM/yyyy")', '@thoigian[1].ToString("dd/MM/yyyy")','@thoigian[0].ToString("dd/MM/yyyy")'],
            datasets: [{
                label: 'Lượng truy',
                data: [
                    @soluong[6],
                    @soluong[5],
                    @soluong[4],
                    @soluong[3],
                    @soluong[2],
                    @soluong[1],
                    @soluong[0]
                ],
                //backgroundColor:'green',
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)'
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Tổng số truy cập hàng ngày',
                fontSize: 25
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                enabled: true
            }
        }
    });
</script>
