@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Mix_MTA2.Models.ThanhVien tv = null;
    if (Session["ThanhVien"] == null)
    {
        tv = null;
    }
    if (Session["ThanhVien"] != null)
    {
        tv = Session["ThanhVien"] as Mix_MTA2.Models.ThanhVien;
    }
}
<title>Mix-MTA | Giới thiệu</title>
<!-- Search Wrapper -->
<!-- ##### Header Area Start ##### -->
<header class="header-area" style="position:fixed;z-index:10000;top:50px;left:0;background-color:white">

    <!-- Top Header Area -->
    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="Index"><img src="/Content/User/img/core-img/your-logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/Home/Index">Trang chủ</a></li>
                                <li class="active"><a href="/Home/About">Giới thiệu</a></li>
                                <li><a href="/Home/Receipt">Công thức</a></li>
                                <li><a href="/Home/Blog">Blog</a></li>
                                <li><a href="/Home/Contact">Liên hệ</a></li>
                                @*<li><a href="Login">Đăng nhập</a></li>*@
                            </ul>

                            <!-- Newsletter Form -->
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="margin:0 auto" action="/Home/Timkiem" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="NoiDung">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" style="background-color:#40ba37; border-color:#40ba37">
                                            <i class="fa fa-search "></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url('/Content/User/img/bg-img/breadcumb1.jpg');margin-top:125px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2><b>Giới thiệu</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="font-size:18px;color:#1d2120;padding-left:30px; padding-right:30px;text-align:justify ">
                    Mix MTA được tạo nên với mong muốn có thể giúp cho người nội trợ sẽ dễ dàng hơn trong việc nấu ăn hàng ngày của mình.
                    Từ công việc chuẩn bị các nguyên liệu, phải chọn món ăn hàng ngày hoặc lựa chọn những thiết bị dùng bếp sẽ trở nên dễ dàng hơn.
                </p>
            </div>
        </div>
        <br />
        @{ var i = 1;}
        @foreach (Mix_MTA2.Models.GioiThieu it in ViewBag.DS)
        {
            if (i % 2 == 0)
            {
                <div class="row">
                    <div class="col-6">
                        <h2>@it.TieuDe</h2>
                        <p style="font-size:14px;color:#1d2120; text-align:justify ">@it.NoiDung</p>
                    </div>
                    <div class="col-6">
                        <img style="border-radius:5px; box-shadow:0 0 5px #808080; margin:auto;" src="~/Content/User/img/bg-img/@it.AnhMinhHoa" />
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-6">
                        <img style="border-radius:5px; box-shadow:0 0 5px #808080; margin:auto; " src="~/Content/User/img/bg-img/@it.AnhMinhHoa" />
                    </div>
                    <div class="col-6">
                        <h2>@it.TieuDe</h2>
                        <p style="font-size:14px;color:#1d2120; text-align:justify ">@it.NoiDung</p>
                    </div>
                </div>
            }
            i++;
            <br />
        }
        <div class="row align-items-center mt-70">
            <!-- Single Cool Fact -->

        </div>

        <div class="row">
            <div class="col-12">
                <img class="mb-70" src="~/Content/img/bg-img/about.png" alt="">
                <h6 class="text-center">Một lần nữa cảm ơn các bạn đã quan tâm tới Mix-MTA. Hãy gửi phản hồi của bạn cho chúng tôi về sản phảm này ở phía dưới nhé.<br>Thank you!</h6>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Phản hồi của bạn</h3>
                </div>
            </div>
        </div>

        <form action="/Home/P_hoi_web" method="get">
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <textarea name="noidung" class="form-control" rows="3" placeholder="Nội dung"></textarea>
                @if (Session["ThanhVien"] != null)
                {
                    <a href="#" class="btn btn-default" style="background-color:#40ba37; color:white">Đăng</a>
                }
            </div>
        </form>

        @if (Session["ThanhVien"] == null)
        {
            <a href="/Home/Login" class="btn btn-default" style="background-color:#40ba37;color:white">Đăng ký</a>
        }
    </div>
</div>
<!-- ##### Contact Area End ##### -->
