@model Mix_MTA2.Models.Blog

@{
    ViewBag.Title = "ChitietBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Mix_MTA2.Models.ThanhVien tv = null;
    Mix_MTA2.Models.Luu_tru lt = null;
    if (Session["ThanhVien"] == null)
    {
        tv = null;
    }
    if (Session["ThanhVien"] != null)
    {
        tv = Session["ThanhVien"] as Mix_MTA2.Models.ThanhVien;
    }
    if (Session["Luu_blog"] == null)
    {
        lt = null;
    }
    if (Session["Luu_blog"] != null)
    {
        lt = Session["Luu_blog"] as Mix_MTA2.Models.Luu_tru;
    }
}

<style>
    .mb-1000 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    /*------------review--------*/
    .recipe-review {
        width: 100%;
        float: left;
    }

        .recipe-review .recipe-review-item {
            width: 100%;
            float: left;
            padding-bottom: 16px;
        }

    .recipe-review-item .review-owner-avatar {
        width: 35px;
        border-radius: 50%;
        float: left;
    }

    .recipe-review-item .review-item-info {
        float: left;
        width: 85%;
        padding-left: 8px;
    }

        .recipe-review-item .review-item-info .review-owner-name {
            display: block;
            color: #111;
            font-size: 14px;
            font-weight: 700;
        }

        .recipe-review-item .review-item-info .review-created-day {
            display: block;
            color: #acacac;
            font-size: 12px;
        }

        .recipe-review-item .review-item-info .review-desc {
            width: 100%;
            padding-top: 8px;
            display: block;
            font-size: 14px;
        }
    /*----------------- button trả lời-----------------*/
    .recipe-review-item .review-acts {
        padding: 5px 15px;
        font-size: 12px;
    }
</style>

<title>Mix-MTA | @Model.TenBlog</title>
<!-- Search Wrapper -->
<!-- Navbar Area -->
<div class="delicious-main-menu" style="position:fixed;z-index:10000;top:50px;left:0;background-color:white">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="deliciousNav">

                <!-- Logo -->
                <a class="nav-brand" href="/Home/Index"><img src="/Content/User/img/core-img/your-logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li><a href="/Home/About">Giới thiệu</a></li>
                            <li><a href="/Home/Receipt">Công thức</a></li>
                            <li class="active"><a href="/Home/Blog">Blog</a></li>
                            <li><a href="/Home/Contact">Liên hệ</a></li>
                            @*<li><a href="Login">Đăng nhập</a></li>*@
                        </ul>

                        <!-- Newsletter Form -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="margin:0 auto" action="/Home/Timkiem" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="NoiDung">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" style="background-color:#40ba37; border-color:#40ba37">
                                        <i class="fa fa-search "></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- ##### Header Area End ##### -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url('/Content/User/img/bg-img/breadcumb2.jpg');margin-top:125px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    @*<h2><b>@Model.TieuDe</b></h2>*@
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="receipe-post-area section-padding-80">
    <div class="mb-1000"> <img src="~/Content/User/img/blog-img/@Model.AnhMinhHoa" style="height:450px;width:1000px;"></div>
    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <h2>
                            @Model.TenBlog
                        </h2>
                        <div style="display:inline">
                            <h6 style="display:inline;margin-right:15px"><i class="fa fa-eye"></i> @Model.LuotXem </h6>
                            <h6 style="display:inline;margin-right:15px"><i class="fa fa-heart" style="color:red"></i> @Model.Luu_tru.Count()</h6>
                            <h6 style="display:inline">@Model.NgayTao.Value.ToString("MMM dd yyyy")</h6>


                        </div>
                    </div>
                </div>
                <div class="col-3">
                    @if (Session["ThanhVien"] == null)
                    {
                        <a href="/Home/Luu_blog" class="btn btn-default" style="background-color:#40ba37; color:white;display:inline;float:right; margin-top:100px">Like</a>

                    }
                    else
                    {
                        if (Session["Luu_blog"] != null && lt.ID_user == tv.ID_user)
                        {
                            <a href="/Home/Boluu_blog" class="btn btn-default" style="background-color:#40ba37; color:white;display:inline;float:right">Unlike</a>
                        }
                        else
                        {
                            <a href="/Home/Luu_blog" class="btn btn-default" style="background-color:#40ba37; color:white;display:inline;float:right">Like</a>
                        }

                    }
                </div>
            </div>
            <div class="row">

                <!-- Single Preparation Step -->
                @{ var td = 1;}
                @foreach (Mix_MTA2.Models.NoiDung_Blog it in ViewBag.nd)
                {
                    <div class="col-12 col-lg-12">
                        <h5>@td.  @it.TieuDe</h5>
                        <p style="word-wrap:break-word">@it.NoiDung</p>
                        <img style="width:1000px;height:500px;margin-bottom:20px;padding-left:150px;" src="~/Content/User/img/blog-img/@it.AnhMinhHoa" />

                    </div>
                    td++;
                }
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                        <h3>Bình luận</h3>
                    </div>
                </div>
            </div>
            <div id="ND_BL">
                @foreach (Mix_MTA2.Models.Review view in ViewBag.rv_bl)
                {
                    <div class="recipe-review">
                        <div class="recipe-review-item">
                            <img class="review-owner-avatar" src="~/Content/User/img/bg-img/@view.HinhDaiDien">
                            <div class="review-item-info">
                                <span class="review-owner-name">@view.HoTen</span>
                                <span class="review-created-day">@view.NgayDang</span>
                                <div class="review-desc">@view.NoiDung</div>
                                <div class="review-acts">
                                    <a href="#" onclick="a(@view.MaPhanHoi)" class="text-gray" style="font-size:12px;color: #888;"> Trả lời</a>
                                </div>
                                <div class="review-acts" id="an" style="display:block;">
                                    <a href="#" onclick="b(@view.MaPhanHoi,0)" class="text-gray" style="font-size:12px;color: #888;display:block;" id="">
                                        Ẩn câu trả lời &#10094;
                                    </a>
                                </div>
                                @{ var count = 0;}
                                <div id="cmt__@view.MaPhanHoi" style="display:block;">
                                    @foreach (Mix_MTA2.Models.View_traloi traloi_ in ViewBag.Answer)/*--------------------------------------------------------*/
                                    {
                                        if (view.MaPhanHoi == traloi_.MaPhanHoi)
                                        {
                                            @*<div class="review-acts">
                                        <a href="#" onclick="" class="text-gray" style="font-size:12px;color: #888;">
                                            Ẩn câu trả lời &#10094;
                                        </a>
                                    </div>*@
                                            <div class="recipe-review">
                                                <div class="recipe-review-item">
                                                    <img class="review-owner-avatar" src="~/Content/User/img/bg-img/@traloi_.HinhDaiDien">
                                                    <div class="review-item-info">
                                                        <span class="review-owner-name">@traloi_.HoTen</span>
                                                        <span class="review-created-day">@traloi_.NgayDang.Value.ToString("dd/MM/yyyy hh:mm tt")</span>
                                                        <div class="review-desc">@traloi_.NoiDung</div>
                                                    </div>
                                                </div>
                                            </div>
                                            count++;
                                        }

                                    }
                                </div>
                                <div class="review-acts" id="hien" style="display:none;">
                                    <a href="#" onclick="b(@view.MaPhanHoi,1)" class="text-gray" style="font-size:12px;color: #888;">
                                        &#10551; Hiển thị câu trả lời
                                    </a>
                                </div>

                                @if (Session["ThanhVien"] != null)
                                {
                                    <form action="/Home/Traloi_ph_hoi_blog" method="get" id="@view.MaPhanHoi" onsubmit="return false">
                                        <div class="recipe-review" id="cmt_@view.MaPhanHoi" style="display:none;">
                                            <div class="recipe-review-item">
                                                <img class="review-owner-avatar" src="~/Content/User/img/bg-img/@tv.HinhDaiDien">
                                                <div class="comment-content review-item-info">
                                                    <input name="id" value="@view.MaPhanHoi" style="display:none;">
                                                    <textarea id="tra_loi_@view.MaPhanHoi" style="padding-right:50px;height: 33px;width: 100%;border-radius: 2px;border-color: #ddd;" name="noidung" class="form-comment-control ng-pristine ng-valid ng-empty ng-touched" contenteditable="true" placeholder="Bình luận của bạn..."></textarea>
                                                    <div class="full text-right" style="padding:5px 8px 0 0">
                                                        <button id="tra_loi" class="btn btn-primary btn-sm" >Trả lời</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <div class="recipe-review" id="cmt_@view.MaPhanHoi" style="display:none;">
                                        <div class="recipe-review-item">
                                            <img class="review-owner-avatar" src="~/Content/User/img/bg-img/out.png">
                                            <div class="comment-content review-item-info">
                                                <textarea style="padding-right:50px;height: 33px;width: 100%;border-radius: 2px;border-color: #ddd;" class="form-comment-control ng-pristine ng-valid ng-empty ng-touched" contenteditable="true" placeholder="Bình luận của bạn..."></textarea>
                                                <div class="full text-right" style="padding:5px 8px 0 0">
                                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#logoutModal">Trả lời</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
            

            <form action="/Home/P_hoi_blog" method="post" onsubmit="return false">
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <textarea id="noidung_ph_blog" name="noidung" class="form-control" rows="3" placeholder="Nội dung"></textarea>
                    @if (Session["ThanhVien"] != null)
                    {
                        <button type="submit" class="btn btn-default" style="background-color:#40ba37; color:white">Đăng</button>
                    }
                </div>
            </form>

            @if (Session["ThanhVien"] == null)
            {
                <a href="/Home/Login" class="btn btn-default" style="background-color:#40ba37;color:white">Đăng ký</a>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked="checked"><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-form">
                        <form action="/Home/Login" method="post">
                            <div class="sign-in-htm">
                                <div class="group">
                                    <label for="user" class="label">Username</label>
                                    <input id="user" name="username" type="text" class="input">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Password</label>
                                    <input id="pass" name="password" type="password" class="input" data-type="password">
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Sign In">
                                </div>
                                <div class="hr"></div>
                                @*<div class="foot-lnk">
                                        <a href="#forgot">Forgot Password?</a>
                                    </div>*@
                            </div>
                        </form>
                        <form action="/Home/Dangky" method="get">
                            <div class="sign-up-htm">
                                <div class="group">
                                    <label for="pass" class="label">Full Name</label>
                                    <input id="user" name="Hoten" type="text" class="input">
                                </div>
                                <div class="group">
                                    <label for="user" class="label">Username</label>
                                    <input id="user" name="Username" type="text" class="input">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Password</label>
                                    <input id="pass" name="Password" type="password" class="input" data-type="password">
                                </div>

                                <div class="group">
                                    <label for="pass" class="label">Email Address</label>
                                    <input id="pass" name="Email" type="text" class="input">
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Sign Up">
                                </div>
                                <div class="hr"></div>
                                @*<div class="foot-lnk">
                                        <label for="tab-1">Already Member?</a>
                                    </div>*@
                            </div>
                        </form>>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function a(i) {
        var id = "cmt_" + i.toString();
        document.getElementById(id).style.display = 'block';
    }
    function b(i, x) {
        var id = "cmt__" + i.toString();
        if (x == 0) {
            document.getElementById(id).style.display = 'none';
            document.getElementById("an").style.display = 'none';
            document.getElementById("hien").style.display = 'block';
        }
        else {
            document.getElementById(id).style.display = 'block';
            document.getElementById("an").style.display = 'block';
            document.getElementById("hien").style.display = 'none';
        }

    }
</script>