@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Mix_MTA2.Models
<style>
    .mb-1000 {
        display: block;
        margin-left: 75px;
        margin-right: auto;
        width: 90%;
    }

    .kt {
        width: 120px;
        height: auto;
    }

    .pagination > li > a {
        background-color: white;
        color: green
    }

    .page-item.active .page-link {
        background-color: green;
        border-color: green
    }

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: green;
        background-color: #eee;
        border-color: #ddd;
    }

    .pagination > .active > a {
        color: white;
        background-color: green;
        border: solid 1px green;
    }

        .pagination > .active > a:hover {
            background-color: green;
            border: solid 1px green;
        }

    p {
        width: 100%;
        white-space: pre-wrap;
        overflow: hidden; /*ẩn nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài*/
        text-overflow: ellipsis; /*// thêm dấu 3 chấm*/
        -webkit-line-clamp: 2; /*//số dòng muốn hiển thị*/
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
</style>

<title>Mix-MTA | Chia sẻ công thức</title>
<!-- Search Wrapper -->
<!-- ##### Header Area Start ##### -->
<header class="header-area" style="position:fixed;z-index:10000;top:50px;left:0;background-color:white">

    <!-- Top Header Area -->
    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="Index"><img src="/Content/User/img/core-img/your-logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/Home/Index">Trang chủ</a></li>
                                <li><a href="/Home/About">Giới thiệu</a></li>
                                <li class="active"><a href="/Home/Receipt">Công thức</a></li>
                                <li><a href="/Home/Blog">Blog</a></li>
                                <li><a href="/Home/Contact">Liên hệ</a></li>
                                @*<li><a href="Login">Đăng nhập</a></li>*@
                            </ul>

                            <!-- Newsletter Form -->
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="margin:0 auto" action="/Home/Timkiem" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="NoiDung">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" style="background-color:#40ba37; border-color:#40ba37">
                                            <i class="fa fa-search "></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url('/Content/User/img/bg-img/breadcumb3.jpg');margin-top:125px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2><b>Công thức</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<hr />
<div class="mb-1000" style="margin-left:120px;margin-right:100px">
    <div class="btn-group" style="margin-bottom:3px">
        <a href="/Home/Receipt" class="btn btn-danger kt" style="overflow:hidden;white-space:nowrap; text-overflow:ellipsis">Tất cả</a>
    </div>
    @foreach (Mix_MTA2.Models.LoaiCongThuc it in ViewBag.lct)
    {
        <div class="btn-group" style="margin-bottom:3px">
            <a href="/Home/Phanloai?id_lct=@it.MaLoaiCongThuc" class="btn btn-danger kt" style="overflow:hidden;white-space:nowrap; text-overflow:ellipsis">@it.TenLoaiCT</a>
        </div>
    }
</div>
<hr />
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.DS)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="Chitietcongthuc/@item.ID_congthuc"><img src="~/Content/User/img/bg-img/@item.AnhMinhHoa" style="width:1000px;height:300px;border-radius:7px"></a>
                        <div class="thumbnail">
                            <h3>@item.TenCongThuc</h3>
                            <div style="display:inline">
                                <h6 class="ratings" style="display:inline;margin-right:15px">
                                    @for (int s = 1; s <= item.DoKho; s++)
                                    {
                                        <i style="color:#fc9803" class="fa fa-star" aria-hidden="true"></i>
                                    }
                                    @for (int s = 1; s <= 5 - item.DoKho; s++)
                                    {
                                        <i style="color:#fc9803" class="fa fa-star-o" aria-hidden="true"></i>
                                    }
                                </h6>
                                <h6 style="display:inline;margin-right:15px"><i class="fa fa-eye"></i> @item.LuotXem </h6>
                                <h6 style="display:inline;margin-right:5px; margin-top:13px"><i style="color:red" class="fa fa-heart"></i> @item.Luu_tru.Count</h6>
                            </div>
                            <p>@item.TieuDe</p>
                            <p><a href="Chitietcongthuc/@item.ID_congthuc" class="btn btn-primary" role="button">Khám phá</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        @*<ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Trước | </a></li>
                <li class="page-item"><a class="page-link" href="#">1 |</a></li>
                <li class="page-item"><a class="page-link" href="#"> 2 |</a></li>
                <li class="page-item"><a class="page-link" href="#"> 3 |</a></li>
                <li class="page-item"><a class="page-link" href="#"> 4 |</a></li>
                <li class="page-item"><a class="page-link" href="#"> 5 |</a></li>
                <li class="page-item"><a class="page-link" href="#"> Sau</a></li>
            </ul>*@
    </div>
</section>


